.rootComponent {
}

.layoutComponent {
    margin: 0 auto;
    width: 80vw;
}

.layoutComponent:hover {
    cursor: pointer;
}

.memeHeaderBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memeHeader {
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0;
    color: black;
}

.memeInput {
    display: none;
}

.memeInput:checked~.memeImage {
    max-height: 400px;
    transition: all 1s;
}

.memeImage {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: all 0.5s;
}
.memeInput:hover~.memeImage {
    max-height: 400px;
    transition: all 1s;
}
/*.meme:hover~.memeImage {*/
/*    max-height: 400px;*/
/*    transition: all 2s;*/
/*}*/
/*.memeHeader:hover~.memeImage {*/
/*    max-height: 400px;*/
/*    transition: all 2s;*/
/*}*/